body{
    background-color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: rgb(97, 73, 42);
}

.presentation{
    background-color: rgb(129, 98, 60);
    border-radius: 8px;
    text-align: center;
    padding: 4px;
    align-items: center;
    justify-content: center;
}